<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket Viewer</title>
</head>
<body>
    <h1>Tournament Bracket Viewer</h1>
    <h2>All tournaments</h2>
    <ul>
        {% for tournament in tournaments %}
            <li><a href="{% url 'tournament_info' tournament.id %}">{{ tournament.name }}</a></li>
        {% endfor %}
    </ul>
    <button onclick="window.location.href = '/tournament/create/'">Create Tournament</button>
</body>
</html>