<!-- tournament_frontend/templates/tournament_frontend/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Bracket Viewer</title>
</head>
<body>
    <h1>Tournament Bracket Viewer</h1>
    <h2>All tournaments</h2>
    <ul>
        {% for tournament in tournaments %}
            <li>{{ tournament.id }} {{ tournament.name }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'tournament-info' %}" method="get">
        <label for="tournament_id">Enter Tournament ID:</label>
        <input type="number" id="tournament_id" name="tournament_id" required>
        <button type="submit">View Bracket</button>
    </form>
</body>
</html>