<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/styles-lightbox.css">
</head>
<body>
    <script src="static/lightbox.js"></script>
    <div id="overlay"></div>

    <button id="open-lightbox-button">Cell Soul</button>

    <div id="lightbox">
        <div id="lightbox-outer">
            <div id="lightbox-inner">
                <span id="lightbox-label">{{Question?}}</span>
                <p id="lightbox-text">
                    {{Message...}}
                </p>
            </div>
            <div id="lightbox-buttons">
                <button id="accept-button" class="lightbox-button">Accept</button>
                <button id="cancel-button" class="lightbox-button">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>