{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGG</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="page-body">
    <div class="header">
        <span class="page-logo">TGG</span>
        <div class="info-label"> {{ content }}</div>
        <!--здесь должно писаться что находится на странице, например, открыты турниры:
        Соревнования; поле создания турнира: Создание сетки; в самой сетке писать сверху название-->
        <div class="profile-header">
            <div class="name"> {{ username }}</div>
            <img src='{{ picture }}' alt="user avatar" id="user-avatar" class="user-avatar">
            <a href="/logout" class="logout-button" role="button">Выйти</a>
        </div>
        <p>logged_in: {{ logged_in }}</p>
        <p>is_admin: {{ is_admin }}</p>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={{ client_id }}&scope=openid%20profile%20email&redirect_uri={{ redirect_uri }}&state=test123&nonce=123" class="login-button">Войти</a>
        <!-- надо будет сделать проверку что вошел в аккаунт-->
        <!-- поля юзера: is_admin; picture; username -->
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <div class="chat-icon">
                <img src="/static/chat.svg" alt="Chat Icon" id="chat-logo">
            </div>
            <div class="tournament-logo">
                <img src="/static/tournaments.svg" alt="Tournaments Icon" id="tournaments-icon">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>НУ ЭТО ТИПО ЧАТ ДОЛЖЕН БЫТЬ =()</p>
            </div>
        </div>
        <div id="tournaments-list" class="tournaments-list">
            <div class="competitions">Соревнования</div>
            {% for tournament in tournaments %}
            <ul>
                <li><div class="tournament-container">
                    <a href="{% url 'tournament_info' tournament.id %}">
                        <div>{{ tournament.name }}</div>
                    </a>
                </div>
                    <img src="/static/delete-button.svg" alt="Delete Button" id="delete-button" class="delete-button">
                    <!--сделать действие - удаление сетки
                    надо будет сделать проверку на то, что если вошел - можешь создавать сетку, а также удалять
                     ТОЛЬКО свою сетку (или для админа удалять все)-->
                </li>
            </ul>
            {% endfor %}
            <img src="/static/create-button.svg" alt="Create Button" id="create-button" class="create-button"
                 onclick="window.location.href = '/tournament/create/'">
            <!--надо будет сделать проверку на то, что если вошел - можешь создавать сетку ну и пользоваться чатом-->
        </div>
        <div class="main-page">Не придумал, че здесь написать, но допустим здесь будет написано про то, зачем этот сайт
        и как им пользоваться</div>
    </div>
    <script src="static/script.js"></script>

</body>

</html>