{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGG</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="page-body">
    <div id="overlay"></div>

    <div class="header">
        <span class="page-logo">TGG</span>
        <div class="info-label"> {{ content }}</div>
        <!--здесь должно писаться что находится на странице, например, открыты турниры:
        Соревнования; поле создания турнира: Создание сетки; в самой сетке писать сверху название-->
        {% if logged_in %}
        <div class="profile-header">
            <div class="name"> {{ username }}</div>
            <img src='{{ picture }}' alt="user avatar" id="user-avatar" class="user-avatar">
            <button onclick="window.location.href ='/logout'" class="logout-button" role="button">Выйти</button>
        </div>
        {% else %}
        <button onclick="window.location.href ='https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={{ client_id }}&scope=openid%20profile%20email&redirect_uri={{ redirect_uri }}&state=test123&nonce=123'" class="login-button">Войти</button>
        {% endif %}
        <!-- надо будет сделать проверку что вошел в аккаунт-->
        <!-- поля юзера: is_admin; picture; username -->
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <div class="chat-icon">
                <img src="/static/chat.svg" alt="Chat Icon" id="chat-logo">
            </div>
            <div class="tournament-logo">
                <img src="/static/tournaments.svg" alt="Tournaments Icon" id="tournaments-icon">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>НУ ЭТО ТИПО ЧАТ ДОЛЖЕН БЫТЬ =()</p>
            </div>
        </div>
        <div id="tournaments-list" class="tournaments-list">
            <div class="competitions"><p>Соревнования</p></div>
            <ul>
                {% for tournament in tournaments %}
                <li id="{{ tournament.id }}">
                    <div class="tournament-container">
                        <a href="{% url 'tournament_info' tournament.id %}">
                            <div>{{ tournament.name }} - {{ tournament.author }} - {{ tournament.get_formatted_date }} - {{ tournament.team_amount }} Teams</div>
                        </a>
                    </div>
                    {% if is_admin or request.user == tournament.author %}
                    <img src="/static/delete-button.svg" alt="Delete Button" id="delete-button" class="delete-button" onclick="deleteTournament('{{ tournament.id }}')">
                    {% else %}
                    <img src="/static/delete-button.svg" alt="Delete Button" id="delete-button" class="delete-button" style="visibility:hidden">
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% if logged_in %}
            <div class="create-button-container">
                <img src="/static/create-button.svg" alt="Create Button" id="create-button" class="create-button">
            </div>
            {% endif %}
            <!--надо будет сделать проверку на то, что если вошел - можешь создавать сетку ну и пользоваться чатом-->
        </div>

        <div class="tournament-creator">
            <div class="create-tournament-container">
                <h2>Создание турнирной сетки</h2>
                <form action="/tournament/create/" method="post" id="create-tournament-form">
                    {% csrf_token %}

                    <div class="create-tournament-field">
                        <label>Название турнира</label>
                        <input placeholder="введите название турнира" name="tournament_name" class="tournament-name" maxlength="50" autocomplete=off required>
                    </div>

                    <div class="create-tournament-field">
                        <label>Команды</label>
                        <textarea id="teamNames" placeholder="введите названия команд" name="teams" class="tournament-teams"  autocomplete=off required></textarea>
                    </div>

                    <div class="create-tournament-field">
                        <label>Дата и время проведения</label>
                        <input type="datetime-local" name="tournament_datetime" class="tournament_datetime" max="9999-12-31T23:59" required>
                    </div>

                    <div class="create-tournament-field">
                        <label>Тип турнира</label>
                        <select name="tournament_type" class="tournament-type" onchange="changeImage()" required>
                            <option value="single">Single Elimination</option>
                            <option value="double">Double Elimination</option>
                        </select>
                    </div>

                    <div id="image-container" class="image-container">
                        <img src="" id="tournament-img" alt="Изображение сетки">
                    </div>
                    <button type="submit" class="submit-button create-tournament-button">Создать турнир</button>
                </form>
            </div>
        </div>

        <div class="main-content">Не придумал, че здесь написать, но допустим здесь будет написано про то, зачем этот сайт
        и как им пользоваться
            <div>logged_in: {{ logged_in }}<br>is_admin: {{ is_admin }}
            </div>
        </div>

    </div>
    <script src="static/script.js"></script>

</body>

</html>