{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TGG</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="page-body">
    <div class="header">
        <span class="page-logo">TGG</span>
        <div class="info-label">sadfdsadsadsadsadasdasdasdasda</div>
        <div class="profile-header">
            <div class="name">{{ first_name }} {{ last_name }}</div>
            <img src="/static/user-avatar-square.png" alt="user avatar" id="user-avatar" class="user-avatar">
            <a href="/logout" class="logout-button" role="button">Выйти</a>
        </div>
<!--        <a href="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={{ client_id }}&scope=openid%20profile%20email&redirect_uri={{ redirect_uri }}&state=test123&nonce=123" class="login-button">Войти</a>-->
        <!-- надо будет сделать проверку что вошел в аккаунт-->
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <div class="chat-icon">
                <img src="/static/chat.png" alt="Chat Icon" id="chat-logo">
            </div>
            <div class="tournament-logo">
                <img src="/static/tournaments.png" alt="Tournaments Icon" id="tournaments-icon">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="modal" id="myModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>НУ ЭТО ТИПО ЧАТ ДОЛЖЕН БЫТЬ =()</p>
            </div>
        </div>
        <!-- Ну здесь типа все остальное, турниры, сетки, все дела -->
        <div id="tournaments-list" class="tournaments-list">
            <div class="competitions">Соревнования</div>
            {% for tournament in tournaments %}
            <ul>
                <li><div class="tournament-container">
                    <a href="{% url 'tournament_info' tournament.id %}">
                        <div>{{ tournament.name }}</div>
                    </a>
                </div>
                    <img src="/static/delete-button.png" alt="Delete Button" id="delete-button" class="delete-button">
                    <!--надо будет сделать проверку на то, что если вошел - можешь создавать сетку-->
                </li>
            </ul>
            {% endfor %}
            <button onclick="window.location.href = '/tournament/create/'" class="create-button">Create Tournament</button>
            <!--надо будет сделать проверку на то, что если вошел - можешь создавать сетку-->
        </div>
        <div class="main-page">Main Content</div>
    </div>
    <script src="static/script.js"></script>

</body>

</html>