#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.page-body {
    background-image: url('background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
}


.help-message {
    display: none;
    position: fixed;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    top: 30%;
    left: 50%;
    background: #555966;
    border-radius: 15px;
    align-items: center;
    padding: 15px;
    color: white;
    flex-direction: column;
    transform: translate(-50%, -50%);
    z-index: 1010;
    animation: fadeIn 0.5s ease ;

}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    height: 120px;
    background: #42454E;
    color: #fff;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 100px;
}

.page-logo {
    display: flex;
    align-items: center;
    font-size: 64px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 30px;
    transition: all 0.3s;
}

/*.page-logo:hover {*/
/*    transform: scale(120%);*/
/*}*/

.page-logo:hover,
.delete-button:hover,
.create-button:hover{
    cursor: pointer;
}

.help-logo:hover,
.chat-logo:hover {
    cursor: pointer;
    background: #727789;
    border-radius: 25px;
}

.login-button {
    margin-right: 30px;
    padding: 5px 45px;
    font-size: 32px;
    background-color: #979797;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid transparent;
    text-decoration: none;
}

.login-button:hover {
    background-color: #bbbbbb;
}

.info-label{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 90px;
    background: #555966;
    border-radius: 50px 0 50px 15px;
    font-size: 32px;
    margin: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    align-self: flex-start;
}

.profile-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
    height: 120px;
    background: #555966;
    border-radius: 15px 0 0 0;
}

.name {
    width: calc(100% - 120px);
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.user-avatar {
    position: absolute; /*  */
    margin: 10px;
    right: 0;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.logout-button {
    position: absolute;
    top: 100%;
    padding: 0 45px;
    font-size: 32px;
    background-color: #a93c3c;
    color: #ffffff;
    border: 5px solid #555966;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #cb1c1c;
}

.hidden {
    display: none;
}

/*.sidebar {*/
/*    position: relative;*/
/*    width: 75px;*/
/*    background: #42454E;*/
/*    float: left;*/
/*    transition: width 0.3s;*/
/*    overflow: hidden;*/
/*    border-radius: 0 0 15px 15px;*/
/*}*/

.chat-logo, .help-logo {
    transition: transform 0.3s;
    transform: scale(70%);
    user-select: none;
    margin-left: 15px;
}

.chat-logo:hover,
.help-logo:hover {
    transform: scale(90%);
}

/*.sidebar-content {*/
/*    width: 100%;*/
/*    transition: width 0.3s;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/

/*.sidebar:hover {*/
/*    width: 150px;*/
/*}*/

.content {
    display: flex;
    margin: 0 200px 10px 200px;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 200px;
    top: 200px;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tournaments-list {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    pointer-events: auto;
}

.competitions {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: #42454E;
    border-radius: 0 0 15px 15px;
    max-width: 300%;
    width: 50vw;
}

.competitions > p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
}

.pevelshemetov{
    height: 120px;
    width: 100%;
}

.tournament-container {
    width: 50vw;
    max-width: 100%;
    height: 100px;
    background: #555966;
    border-radius: 50px 0;
    overflow: hidden;
    transition: height 0.3s;
}

.tournament-container:hover {
    height: 250px;
}

.tournament-container div {
    width: 100%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tournament-container table {
    color: white;
    border-collapse: separate;
    border-spacing: 15px;
    font-size: 32px;
}

.tournament-container td{
    vertical-align: top;
}

.tournament-container .short-info {
    padding: 10px;
}

.tournament-container .full-info {
    display: none;
    background: #555966;
    border-radius: 50px 0 50px 0;
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.tournament-container:hover .full-info{
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.tournaments-list ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tournament-container a, a:visited, a:active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 32px;
    color: white;
    height: 100%;
    padding: 0 10px;
    border-radius: inherit;
    transition: background-color 0.3s;
}

.tournament-container a:hover {
    background: #42454E;
}

.author-picture{
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.tournaments-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

/* buttons */

.submit-button {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 5px 10px;
    background-color: #5A5C64;
    color: #cecece;
    border-radius: 0 0 15px 15px;
    border: 5px solid #42454E;
    border-top: 0;
    text-decoration: none;
    font-size: 32px;
}

.submit-button:hover,
.create-tournament-button:hover{
    background-color: #FFFFFF;
    color: black;
}

.return-button {
    width: 100px;
    height: 100px;
    margin: 15px;
    transition: filter 0.3s ease;
    border-radius: 50px;
    border: 1px solid transparent;
    background: #5d5e6b;
}

.return-button:hover{
    background: #919191;
}

.delete-button {
    width: 50px;
    height: 50px;
    transition: filter 0.3s ease;
    border-radius: 50px;
    background: #a93c3c;
    margin-left: 10px;
}

.delete-button:hover{
    background: #cb1c1c;
}

.create-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-top: 10px;
}

.create-button {
    width: 50px;
    height: 50px;
    transition: filter 0.3s ease;
    border-radius: 50px;
    background: #5a5c64;
}

.create-button:hover{
    background: #ffffff;
}

.create-tournament-button-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.create-tournament-button {
    position: static;
    width: 400px;
    margin-top: 15px;
    background-color: #5A5C64;
    color: #cecece;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    font-size: 32px;
}

/* страница для создания таблиц */

.tournament-creator {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
    z-index: 1010;
}

.create-tournament-container {
    overflow-y: auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    color: #cecece;
    flex-direction: column;
    background: #42454E;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    animation: fadeIn 0.5s ease forwards;
}

.create-tournament-container h2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.create-tournament-container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}

.create-tournament-field {
    width: 100%;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.create-tournament-field label {
    background: #313542;
    border-radius: 5px 5px 0 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-tournament-field input,
.create-tournament-field textarea,
.create-tournament-field select {
    font-size: 80%;
    border: 5px solid transparent;
    border-radius: 0 0 5px 5px;
    background: #cecece;
    box-sizing: border-box;
    width: 100%;
}

.create-tournament-field textarea {
    resize: none;
    white-space: nowrap;
    height: 200px;
}

.image-container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.image-container img {
    display: flex;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}


/*сетка*/

.tournament-body {
    background-color: #212121;
    color: #ECECEC;
    margin: 0;
    padding: 120px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}

.bracket {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    display: flex;
    margin-bottom: 100px;
    overflow: visible;
    width: 100%;
    padding-top: 120px;
}

.bracket section {
    min-width: 300px;
    padding: 0 20px 0 10px;
    width: 20%;
}

section h2{
    text-align: center;
}

.bracket ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.bracket li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
}

.bracket .round-click{
    border-radius: 15px;
    border: 2px solid black;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.bracket .round-click:hover{
    background-color: #575757;
    cursor: pointer;
}

.bracket .teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bracket .team-1,
.bracket .team-2{
    display: block;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.bracket .team-1 {
    border-bottom: 1px solid black;
}

.bracket .team-2{
    border-top: 1px solid black;
}

.bracket .score-1,
.bracket .score-2 {
    background: #646464;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 20%;
    max-width: 20%;
    border-left: 2px solid black;
}

.bracket .score-1 {
    border-bottom: 1px solid black;
}

.bracket .score-2 {
    border-top: 1px solid black;
}

.bracket section:not(:last-child) {
    li:after {
        content: "";
        display: block;
        position: absolute;
    }

    li:after {
        right: -15px;
        width: 15px;
    }

    li:nth-child(even):after {
        border-bottom: 1px solid black;
        border-bottom-right-radius: 10px;
        border-right: 1px solid black;
        bottom: 50%;
        height: 100%;
    }

    li:nth-child(odd):after {
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-top-right-radius: 10px;
        top: 50%;
        height: 100%;
    }
}

.bracket section:not(:first-child) {
    li:before {
        content: "";
        border-top: 1px solid black;
        display: block;
        position: absolute;
        width: 15px;
        left: -15px;
    }
}

.selection-container {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
}

#popup-container {
    display: none;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #cecece;
    background: #42454E;
    border-radius: 15px 15px 0 15px;
    padding: 15px;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
    animation: fadeIn 0.5s ease forwards;
}

#popup-container h2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#popup-container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#popup-container-field {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
}

#popup-container-field label {
    display: block;
    justify-content: center;
    background: #313542;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}


#popup-container-field input{
    font-size: 100%;
    width: 100px;
    border: 5px solid transparent;
    border-radius: 5px;
    background: #cecece;
    box-sizing: border-box;
    -webkit-appearance: none;
    margin: 5px;
    text-align: center;
}
#popup-container-field input::-webkit-outer-spin-button,
#popup-container-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.chat-container{
    display: none;
    background: #42454E;
    position: fixed;
    left: 0;
    top: 120px;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    width: 20%;
    max-height: 50%;
    padding: 15px;
    font-size: 32px;
    z-index: 1010;
    box-sizing: border-box;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chat-container textarea{
    resize: none;
    height: 800px;
    font-size: 60%;
    border-radius: 5px;
    background: #CECECE;
    padding: 10px;
}

.chat-container input{
    font-size: 50%;
    box-sizing: border-box;
}

.chat-message {
    display: flex;
}

#chat-message-input{
    border-radius: 5px 0 0 5px;
    border: transparent;
    height: 50px;
    width: 70%;
    position: relative;
    padding: 10px;
}

#chat-message-submit{
    height: 50px;
    width: 30%;
    transition: filter 0.3s ease;
    border-radius: 0 5px 5px 0;
    background: #5a5c64;
    border: transparent;
    color: white;
    align-self: flex-end
}

#chat-message-submit:hover{
    background: #d5d5d5;
    color: black;
}

::-webkit-scrollbar {
    width: 0;
}

.content ::-webkit-scrollbar,
.tournament-body ::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #797979;
    border-radius: 0 3px 3px 0;
}

::-webkit-scrollbar-thumb {
    background: #595c65;
    border-radius: 0 3px 3px 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4;
}

@media screen and (max-width: 700px) {
    .info-label {
        display: none;
    }
    .competitions{
        display: none;
    }
}
