.page-body {
    background-image: url('background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Зафиксируем фон */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.main-page {
    display: flex;
    background: #555966;
    border-radius: 15px;
    align-items: center;
    font-size: 64px;
    padding: 15px;
    margin: 45px 200px 0 0;
    color: white;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    height: 120px;
    background: #42454E;
    color: #fff;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
}

.page-logo {
    font-size: 64px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 10px 0 30px;
}

.page-logo:hover,
.delete-button:hover,
.create-button:hover{
    cursor: pointer;
}

.tournament-logo:hover,
.chat-icon:hover {
    cursor: pointer;
    background: #727789;
    border-radius: 25px;
}

.login-button {
    margin-right: 30px;
    padding: 5px 45px;
    font-size: 36px;
    background-color: #979797;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid transparent;
    text-decoration: none;
}

.login-button:hover {
    background-color: #bbbbbb;
}

.info-label{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 90px;
    background: #555966;
    border-radius: 50px 0 50px 15px;
    font-size: 42px;
    margin: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    align-self: flex-start;
}

.profile-header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
    height: 120px;
    background: #555966;
    border-radius: 15px 0 0 0;
}

.name {
    width: calc(100% - 120px);
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 36px;
    white-space: nowrap;
    text-align: center
}

.user-avatar {
    position: absolute; /*  */
    margin: 10px;
    right: 0;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.logout-button {
    position: absolute;
    top: 100%;
    padding: 0 45px;
    font-size: 36px;
    background-color: #a93c3c;
    color: #ffffff;
    border: 5px solid #555966;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #cb1c1c;
}

.hidden {
    display: none;
}

.sidebar {
    position: relative;
    width: 75px;
    height: 100vh;
    background-color: #313542;
    float: left;
    transition: width 0.3s;
    overflow: hidden;
}

.chat-icon, .tournament-logo {
    transition: transform 0.3s;
    transform: scale(50%);
    user-select: none;
    margin: 20px; /* Добавляем отступ между элементами */

}

.sidebar:hover .chat-icon,
.sidebar:hover .tournament-logo {
    transform: scale(120%);
}

.sidebar-content {
    width: 100%;
    transition: width 0.3s;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar:hover .sidebar-content {
    width: 200px;
}

.content {
    display: flex;
    margin: 0 200px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 200px;
    top: 200px;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}


.tournaments-list {
    display: none;
    flex-direction: column;
    align-items: self-start;
}

.competitions {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    height: 40px;
    text-align: center;
    background: #42454E;
    border-radius: 0 0 15px 15px;
    max-width: 300%;
    width: 30vw;
    overflow: hidden;
    white-space: nowrap;
}

.tournament-container { /* беда с размерами (при увеличении/уменьшении, переделать бы*/
    width: 30vw;
    max-width: 100%;
    height: 100px;
    background: #555966;
    border-radius: 50px 0;
    overflow: hidden;
}

.tournaments-list ul{
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tournament-container a, a:visited, a:active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    color: white;
    height: 100%;
    padding: 0 10px;
    border-radius: inherit;
    transition: background-color 0.3s ease;
}

.tournament-container a:hover {
    background: #b0b0b0;
}

.tournament-container div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tournaments-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.delete-button {
    width: 50px;
    height: 50px;
    transition: filter 0.3s ease;
    border-radius: 50px;
    background: #a93c3c;
    margin-left: 10px;
}

.delete-button:hover{
    background: #cb1c1c;
}

.create-button {
    width: 50px;
    height: 50px;
    transition: filter 0.3s ease;
    border-radius: 50px;
    background: #5a5c64;
    margin-top: 10px;
    position: relative;
    left: calc(50% - 50px);
}

.create-button:hover{
    background: #ffffff;
}

/* страница для создания таблиц */
.create-tournament-body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background: #555966;
    color: #cecece;
}

.create-tournament-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    background: #42454E;
    border-radius: 15px 15px 0 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.create-tournament-container h2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.create-tournament-field{
    display: flex;
    margin: 30px;
    align-items: center;
}

.create-tournament-field label{
    background: #313542;
    border-radius: 5px;
    padding: 5px;
    margin-right: 15px;
    max-width: 30%;
}

.create-tournament-field .tournament-name {
    align-items: center;
    font-size: 80%;
    border: 5px solid transparent;
    border-radius: 5px;
    background: #cecece;
    width: 50ch;

}


.create-tournament-field .tournament-teams {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 300px;
    font-size: 80%;
    border: 5px solid transparent;
    border-radius: 5px;
    background: #cecece;
    resize: none;
    white-space: nowrap;

}

.create-tournament-field select {
    width: 350px;
    align-items: center;
    font-size: 80%;
    border: 5px solid transparent;
    border-radius: 5px;
    background: #cecece;

}

.create-tournament-button {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 5px 10px;
    background-color: #5A5C64;
    color: #cecece;
    border-radius: 0 0 15px 15px;
    border: 5px solid #42454E;
    border-top: 0;
    text-decoration: none;
    font-size: 24px;
}

.create-tournament-button:hover {
    background-color: #FFFFFF;
    color: black;
}


.addTeam-button{
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #5A5C64;
    color: #cecece;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    font-size: 24px;
}

.addTeam-button:hover {
    background-color: #FFFFFF;
    color: black;
}


.image-container img {
    margin: 30px 0 0 15px;
    width: 250px;
    height: 250px;
    float: right;
    border-radius: 15px;
}

.return-button {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    transition: filter 0.3s ease;
    border-radius: 50px;
    border: 1px solid transparent;
    background: #5d5e6b;
}

.return-button:hover{
    background: #919191;
}


@media screen and (max-width: 700px) {
    .info-label {
        display: none;
    }
    .competitions{
        display: none;
    }
}