#lightbox {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1050;
}

#lightbox-outer {
    width: 50vh;
    height: 25vh;
    background-color: #42454E;
    padding: 15px 15px;
    border-radius: 20px;
}

#lightbox-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1051;
}

#lightbox-label {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

#lightbox-buttons {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
    padding-top: 5px;
    z-index: 1049;
}

.lightbox-button {
    position: relative;
    border-radius: 0 0 10px 10px;

    border-left: 5px solid #34343a;
    border-bottom: 3px solid #5a5c64;
    border-right: 1px solid #919090;
    border-top: none;

    bottom: 5px;
    left: 10px;
    width: 50vh;
    height: 5vh;
}

#lightbox-text {
    font-size: 1vw;
}

#open-lightbox-button {
    width: 128px;
    height: 64px;
    background-color: #5b4d4d;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#accept-button {
    background-color: #3f723f;
    color: white;
    cursor: pointer;
}

#cancel-button {
    background-color: #E35047;
    color: white;
    cursor: pointer;
}
